version: '{build}-{branch}'
os: Default Azure
platform:
  - x64
# Maximum number of concurrent jobs for the project
max_jobs: 1
init:
- ps: |
    [Net.ServicePointManager]::SecurityProtocol = 'Ssl3, Tls, Tls11, Tls12'
- ps: |
    While ((Test-NetConnection google.com -Port 80 -InformationLevel Quiet) -ne "True") {
        echo "waiting for network..."
        Start-Sleep 1
    }
install:
- ps: |
    choco install virtualbox
    choco install vagrant
    cd $env:APPVEYOR_BUILD_FOLDER
- refreshenv
- vagrant -v
- VBoxManage -v
- ssh -V
- ipconfig /all

build_script:
  - ps: Test-NetConnection google.com -Port 80
  - vagrant up
  - vagrant ssh -c "echo 'hello world!'"
  - vagrant ssh -c "uname -a && cat /etc/*release*"
test: off

# Uncomment below to enable debugging via RDP.
#
# Once enabled, you'll need to (via RDP or some other means) remove the file
# at "%userprofile%\Desktop\Delete me to continue build.txt" to complete the
# build sucessfully
#
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
